@import "./theme/globals";

:local(.WPContent) {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  > .row {
    @include min(sm) {
      margin-left: auto;
      margin-right: auto;
      width: 83.33%;
    }
    @include min(lg) {
      width: 66.66%;
    }
  }
}
